---
// import { getCollection } from 'astro:content';
import { FormattedDate } from "../components/FormattedDate";
import { MASKS } from "../components/Post";
import { LoggerHelper } from "../helpers/logger";
import { TextHelper } from "../helpers/text";
import BlogLayout from "../layouts/BlogLayout.astro";
import { supabase } from "../lib/supabase";

// const posts = (await getCollection('blog')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );

const { log } = LoggerHelper.factory("pages/index");

const { data: postsRes } = await supabase.from("posts").select();

log("postsRes", { postsRes });

// const publicUrlImages = postsRes?.map((x) => x.image);

// const imagesRes = publicUrlImages
//   ? await supabase.storage
//       .from("post-images")
//       .createSignedUrls(publicUrlImages, 60 * 5)
//   : undefined;

// const images = imagesRes ? imagesRes.data || [] : [];

// <a href={TextHelper.transformToUrl(post.title)}>
//                   <img
//                     src={`https://mkyplcxzkcdafyrdcqnp.supabase.co/storage/v1/object/public/post-images/${post.image}`}
//                     alt="post-image"
//                   />
//                   <h2 class="title">{post.title}</h2>
//                   <p class="date">
//                     <FormattedDate date={new Date(post.created_at)} />
//                   </p>
//                 </a>

// <div
//   class="hero"
//   style={`background-image: url(https://mkyplcxzkcdafyrdcqnp.supabase.co/storage/v1/object/public/post-images/${post.image});`}
// >
//   <div class="hero-overlay bg-opacity-80" />
//   <div class="hero-content text-center text-neutral-content">
//     <div class="max-w-md">
//       <h3 class="mb-5 text-5xl font-bold">{post.title}</h3>
//       <p class="date">
//         <FormattedDate date={new Date(post.created_at)} />
//       </p>
//     </div>
//   </div>
// </div>

const posts = postsRes || [];
---

<BlogLayout>
  <section>
    <ul class="grid grid-cols-2 gap-4">
      {
        posts.map((post, index) => (
          <li class={`${index === 0 ? "col-span-2" : undefined}`}>
            <a href={TextHelper.transformToUrl(post.title)}>
              <div class="flex flex-col justify-center items-center">
                <div
                  class={`w-3/4 mask ${
                    MASKS[Math.floor(Math.random() * MASKS.length)]
                  }`}
                >
                  <img
                    src={
                      post.image
                        ? `https://mkyplcxzkcdafyrdcqnp.supabase.co/storage/v1/object/public/post-images/${post.image}`
                        : "/blog-placeholder-image.jpeg"
                    }
                    alt="post-image"
                  />
                </div>
                <div class="py-8 prose">
                  <h2 class="break-all sm:break-normal text-neutral">
                    {post.title}
                  </h2>

                  <p class="text-secondary">
                    <FormattedDate date={new Date(post.created_at)} />
                  </p>
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>
